@charset "utf-8";


/*ここから記事用*/


.article{
}

.page-header{
	font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
}

.page-header h1 small{
	font-size: 70%;
	color: #ccc;
}

.articleMain{
	line-height: 3;
	font-family: YakuHanMP, "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
	padding: 20pt 0;
	text-align: justify;
}


h1 {
	font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
	font-size: 2em;
	padding-bottom: .5em;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}

h2 {
	font-family: YakuHanJP, "Hiragino Sans", Meiryo, sans-serif;
	font-size: 1.5em;
	margin: 2em 0 1em 0;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
}

ul, ol {
	padding-left: 25px;
	padding-top: 10px;
	}

p{
	margin: 0.5em 0;
	text-indent: 1em;
}

.textOnImage { /*画像上に文字*/
  position: relative;
  }

.textOnImage p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;/*文字は白に*/
  opacity: 0.8;
  font-weight: bold; /*太字に*/
  font-size: 4em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  white-space: nowrap;
	text-indent: 0em;
  }

.textOnImage img {
  width: 100%;
  opacity: 0.6;
  }

.articleFormula{	
    overflow-x: auto;
    overflow-y: hidden;
}


blockquote {
    position: relative;
    margin: 30px;
    padding: 10px 12px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    border-left: solid 40px #c4c4c4;
    background: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -32px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    vertical-align: middle;
    content: "\f10d";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 22px;
    line-height: 1;
}

blockquote p {
    position: relative;
    padding: 10px;
    margin: 10px 10px 10px 20px;
    z-index: 3;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}







